.c-flatcard {
  margin-bottom: 1.6rem;
  padding: 1.6rem 1.8rem;
  border-radius: 2rem;
  color: var(--fc-primary);
}

.c-flatcard--lend {
  background-color: var(--bg-flatcard-green);
}
.c-flatcard--borrow {
  background-color: var(--bg-flatcard-red);
}
.c-flatcard--closed {
  background-color: var(--bg-flatcard-grey);
}

.c-flatcard__top-section,
.c-flatcard__bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-flatcard__name {
  font-weight: 500;
}

.c-flatcard__amount {
}

.c-flatcard__name,
.c-flatcard__amount {
  line-height: 1.8rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.c-flatcard__purpose,
.c-flatcard__date {
  /* color: var(--fc-secondary); */
}
.c-flatcard__purpose {
  font-weight: 400;
  margin-top: 0.6rem;
  font-size: 1.2rem;
}

.c-flatcard__bottom-section {
  margin-top: 1.4rem;
}

.c-flatcard__date {
  color: var(--fc-secondary);
  font-size: 1rem;
  font-weight: 600;
}
