.page {
    height: calc(100dvh - 6.1rem);
    /* height: calc(100dvh - 48px); */
    background-color: var(--bg-primary);
}

.page-full {
    height: 100vh;
    height: 100dvh;
}

.page-section {
    /* background-color: var(--bg-primary); */
    padding: 1.6rem;
}