.page {
    height: calc(100dvh - 61px);
    /* height: calc(100dvh - 48px); */
    background-color: var(--bg-primary);
}

.page-section {
    /* background-color: var(--bg-primary); */
    padding: 1.6rem;
}