.App {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
}

@media (prefers-reduced-motion: no-preference) {
}

/* ::::::::::::::::::::::::::::::::::::: Util Classes ::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::: Font Family ::::::::: */
.ff-poppins {
  font-family: var(--ff-poppins);
}
.ff-montserrat {
  font-family: var(--ff-montserrat);
}

/* ::::::: Input ::::::::: */
/* radio */
.label-radio {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--fc-primary);
}
.inp-radio {
  appearance: auto;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1.4rem;
  border: 1px solid #aaa;
  cursor: pointer;
}

.inp-radio:not(:first-child) {
  margin-top: 1.4rem;
}

.inp-radio:checked {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
  /* accent-color: var(--clr-primary); */
  /* accent-color: rgb(0, 255, 0); */
}

.inp-radio:checked + label {
  color: var(--clr-primary);
}

/* Theme radio */
.theme__radio-wpr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 50%;
}

.theme__radio-wpr--sm {
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
}
.theme__radio-wpr--sm .theme__radio {
  width: 2.2rem;
  height: 1.1rem;
}

.input-theme-radio-inp:checked + .theme__radio-wpr{
  border: 2px solid var(--clr-primary);

}

.theme__radio {
  display: inline-block;
  flex-shrink: 0 ;
  width: 3rem;
  height: 1.5rem;
}


.theme__radio:first-child {
  border-radius: 1.5rem 1.5rem 0 0;
}
.theme__radio:last-child {
  border-radius: 0 0 1.5rem 1.5rem;
}

.theme__radio--primary-light:first-child {
  background-color: var(--theme-primary-light-1);
}
.theme__radio--primary-light:last-child {
  background-color: var(--theme-primary-light-2);
}
.theme__radio--primary-dark:first-child {
  background-color: var(--theme-primary-dark-1);
}
.theme__radio--primary-dark:last-child {
  background-color: var(--theme-primary-dark-2);
}

.theme__radio--secondary-light:first-child {
  background-color: var(--theme-secondary-light-1);
}
.theme__radio--secondary-light:last-child {
  background-color: var(--theme-secondary-light-2);
}
.theme__radio--secondary-dark:first-child {
  background-color: var(--theme-secondary-dark-1);
}
.theme__radio--secondary-dark:last-child {
  background-color: var(--theme-secondary-dark-2);
}

.theme__radio--reddishRose-light:first-child {
  background-color: var(--theme-reddishRose-light-1);
}
.theme__radio--reddishRose-light:last-child {
  background-color: var(--theme-reddishRose-light-2);
}
.theme__radio--reddishRose-dark:first-child {
  background-color: var(--theme-reddishRose-dark-1);
}
.theme__radio--reddishRose-dark:last-child {
  background-color: var(--theme-reddishRose-dark-2);
}

/* Icon */
.icon__fill-fc-primary, .icon__fill-fc-primary > * {
  fill: var(--fc-primary)
}
.icon__stroke-fc-primary, .icon__stroke-fc-primary > * {
  stroke: var(--fc-primary)
}
