.App {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
}

@media (prefers-reduced-motion: no-preference) {
}

/* ::::::::::::::::::::::::::::::::::::: Util Classes ::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::: Font Family ::::::::: */
.ff-poppins {
  font-family: var(--ff-poppins);
}
.ff-montserrat {
  font-family: var(--ff-montserrat);
}