/* ::::::::::::::::::::::::::: Variables :::::::::::::::::::::::::::::: */
:root {
  --clr-primary: #32be4b;

  /* background */
  --bg-primary: #fff;
  --bg-secondary: #f9fafb;

  /* font color */
  --fc-primary: #1a1a1a;
  --fc-secondary: #9a9a9a;

  /* header */
  --bg-header: #f9fafb;
  --fc-header-primary: #1a1a1a;
  --fc-header-primary-active: #1a1a1a;

  /* header icon */
  --icon-fill-active: var(--clr-primary);
  --icon-stroke-active: #434343;
  --icon-stroke: #434343;

  /* flatcard */
  --bg-flatcard-green: rgba(0, 255, 42, 0.204);
  --bg-flatcard-red: rgba(255, 0, 25, 0.12);
  --bg-flatcard-grey: rgba(174, 174, 174, 0.24);

  /* font family */
  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;
}

body.theme-dark-green {
  --clr-primary: #32be4b;

  /* background */
  --bg-primary: #121212;
  --bg-secondary: #1f1f1f;

  /* font color */
  --fc-primary: #c7c7c7;
  --fc-secondary: #818181;

  /* header */
  --bg-header: #1f1f1f;
  --fc-header-primary: #818181;
  --fc-header-primary-active: #c7c7c7;

  /* header icon */
  --icon-fill-active: transparent;
  --icon-stroke-active: #c7c7c7;
  --icon-stroke: #818181;

  /* flatcard */
  --bg-flatcard-green: rgba(0, 255, 42, 0.25);
  --bg-flatcard-red: rgba(255, 0, 25, 0.216);
  --bg-flatcard-grey: rgba(152, 152, 152, 0.25);
}

/* ::::::::::::::::::::::::::: Resets :::::::::::::::::::::::::::::: */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
  border: 0;
  appearance: none;
}

html {
  scroll-behavior: smooth;
  font-family: var(--ff-poppins);
  font-size: 10px;
}

body > * {
  font-family: var(--ff-poppins);
}

body,
main {
  background-color: #ffffff;
  font-family: var(--ff-poppins);
}

a,
button,
p,
li {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

button {
  cursor: pointer;
  font-family: var(--ff-poppins);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}
