/* ::::::::::::::::::::::::::: Fonts :::::::::::::::::::::::::::::: */
@font-face {
  font-family: 'Graphik Web';
  font-weight: 900;
  src: url('../public/fonts/GraphikBlack.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik Web';
  font-weight: 700;
  src: url('../public/fonts/GraphikBold.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik Web';
  font-weight: 600;
  src: url('../public/fonts/GraphikSemibold.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik Web';
  font-weight: 500;
  src: url('../public/fonts/GraphikMedium.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik Web';
  font-weight: 400;
  src: url('../public/fonts/GraphikRegular.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik Web';
  font-weight: 300;
  src: url('../public/fonts/GraphikLight.otf') format('opentype');
}
@font-face {
  font-family: 'Graphik Web';
  font-weight: 200;
  src: url('../public/fonts/GraphikThin.otf') format('opentype');
}

/* ::::::::::::::::::::::::::: Variables :::::::::::::::::::::::::::::: */
:root {
  --blue: #30c5ca;
  --deep-blue: #006a7a;
  --dark-blue: #003748;
  --black: #0a0a0b;
  --dark-grey: #888989;
  --just-grey: #edf0f2;
  --light-grey: #f6f8f9;
  --white: #fff;
  --pale-green: #d7edf0;
  --paler-green: #d7f0ea;
  --pale-yellow: #fcf6e8;

  --clr-primary: #30c5ca;
  --clr-primary-light: #2DC6C9;

  /* background */
  --bg-primary: #F7F8FA;
  --bg-secondary: #f9fafb;

  /* font color */
  --fc-primary: #000;
  /* --fc-primary: #1a1a1a; */
  --fc-secondary: #888989;

  /* header */
  --bg-header: #fff;
  --fc-header-primary: #939B9E;
  --fc-header-primary-active: var(--clr-primary-light);

  /* header icon */
  --icon-fill-active: var(--clr-primary-light);
  --icon-stroke-active: var(--clr-primary-light);
  --icon-fill: #939B9E;
  --icon-stroke: #939B9E;


  /* flatcard */
  --bg-flatcard-green: rgba(0, 255, 42, 0.204);
  --bg-flatcard-red: rgba(255, 0, 25, 0.12);
  --bg-flatcard-grey: rgba(174, 174, 174, 0.24);

  /* Box Shadow */
  --shadow-card: rgba(0, 0, 0, 0.05) 0px 2px 6px;

  /* font family */
  /* --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif; */

  --ff-poppins: "Graphik Web", sans-serif;
  --ff-montserrat: "Graphik Web", sans-serif;
  --ff-graphik: "Graphik Web", sans-serif;
}

body.theme-dark-green {
  --clr-primary: #30c5ca;

  /* background */
  --bg-primary: #13171A;
  --bg-secondary: #3B444B;

  /* font color */
  --fc-primary: #F2F3F3;
  --fc-secondary: #818181;

  /* header */
  --bg-header: #485158;
  --fc-header-primary: #84959E;

  /* header icon */
  --icon-stroke: #84959E;

  /* flatcard */
  --bg-flatcard-green: rgba(0, 255, 42, 0.25);
  --bg-flatcard-red: rgba(255, 0, 25, 0.216);
  --bg-flatcard-grey: rgba(152, 152, 152, 0.25);
}

/* ::::::::::::::::::::::::::: Resets :::::::::::::::::::::::::::::: */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
  border: 0;
  appearance: none;
}

html {
  scroll-behavior: smooth;
  font-family: var(--ff-poppins);
  font-size: 10px;
}

body > * {
  font-family: var(--ff-poppins);
}

body,
main {
  background-color: #ffffff;
  font-family: var(--ff-poppins);
}

a,
button,
p,
li {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

button {
  cursor: pointer;
  font-family: var(--ff-poppins);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}
