.p-overview {
    padding: 3.8rem 2rem;
}

.p-overview__section {
    margin-bottom: 2rem;
}

.p-overview__section > *:not(:first-child) {
    margin-top: 1rem;
}

.p-overview__chart-wpr {
    max-width: 25rem;
    margin: auto;
    margin-bottom: 2rem;
}